<!-- start custom head snippets -->

<!-- insert favicons. use https://realfavicongenerator.net/ -->
<link rel="icon" type="image/png" href="/assets/img/favicon.png" sizes="16x16">
<!-- end custom head snippets -->

<!-- 구글 애드센스 -->
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<div align="center" style="margin: 1em 0;">
<ins class="adsbygoogle"
     style="display:block; border-bottom: initial;"
     data-ad-client="ca-pub-5083146661516357"
     data-ad-format="auto"></ins>
</div>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
