/* ==========================================================================
   Air skin
   ========================================================================== */

/* Colors */

// 배경
$background-color: #ffffff !default;

// 텍스트 컬러
$text-color: #000000 !default;

// 최근 포스트, 이전, 다음, 1,2,3, ..., 8, 태그, 카테고리, 업데이트 등
$muted-text-color: #393e46 !default;

// 맨 아래 바 색깔, 돋보기, 메뉴 밑줄
$primary-color: #393e46 !default;

$border-color: mix(#fff, #393e46, 75%) !default;
$footer-background-color: $primary-color !default;

$link-color: #36588f !default;
$masthead-link-color: $text-color !default;
$masthead-link-color-hover: $text-color !default;
$navicon-link-color-hover: mix(#fff, $text-color, 80%) !default;

.page__footer {
  color: #fff !important; // override
}

.page__footer-follow .social-icons .svg-inline--fa {
  color: inherit;
}
